<script src="{{ modal_url }}"></script>

<div class="buttons">
    <div class="text-end">
        <button class="btn btn-primary btcpay-modal">{{ button_confirm }}</button>
    </div>
</div>

<script>
  $('button.btcpay-modal').click(function() {
    $.post("{{ action }}", function (data) {
      console.log(JSON.stringify(data));
      if (data.invoiceId !== undefined) {
        window.btcpay.setApiUrlPrefix('{{ btcpay_host }}');
        window.btcpay.showInvoice(data.invoiceId);
      } else {
          showError('{{ invoice_failed_text }}');
      }
      let invoice_paid = false;
      window.btcpay.onModalReceiveMessage(function (event) {
        if (isObject(event.data)) {
          console.log('invoiceId: ' + event.data.invoiceId);
          console.log('status: ' + event.data.status);
          if (event.data.status) {
            switch (event.data.status) {
              case 'complete':
              case 'paid':
                invoice_paid = true;
                window.location='{{ success_link }}';
                break;
              case 'expired':
                window.btcpay.hideFrame();
                showError('{{ invoice_expired_text }}');
                break;
            }
          }
        } else { // handle event.data "loaded" "closed"
          if (event.data === 'close') {
            if (invoice_paid === true) {
              window.location='{{ success_link }}';
            }
            showError('{{ invoice_closed_text }}');
          }
        }
      });
      const isObject = obj => {
        return Object.prototype.toString.call(obj) === '[object Object]'
      }
    }).fail(function() {
      showError('{{ invoice_failed_text }}');
    });
    const showError = err => {
      const errFail = '<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + err + '<button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>';
      $('#alert').prepend(errFail);
    }
  });
</script>
