{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-payment" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="container-fluid">
    {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}

    <div class="alert alert-info" style="overflow: hidden;">
      <div class="row">
        <div class="col-sm-12">{{ text_version_info }}</div>
      </div>
      <div class="row">
        <div class="col-sm-12">{{ text_support_info }}</div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>

      <div class="panel-body">
        <div>

        </div>
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-payment" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="payment_btcpay_status" id="input-status" class="form-control">
                {% if payment_btcpay_status %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>


          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-btcpay-url">{{ entry_btcpay_url }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_btcpay_url" value="{{ payment_btcpay_url }}" placeholder="{{ entry_btcpay_url }}" id="input-btcpay-url" class="form-control" />

              <div class="help-block">
                {{ help_btcpay_url }}
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-api-auth-token">{{ entry_api_auth_token }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_btcpay_api_auth_token" value="{{ payment_btcpay_api_auth_token }}" placeholder="{{ entry_api_auth_token }}" id="input-api-auth-token" class="form-control" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-btcpay-storeid">{{ entry_btcpay_storeid }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_btcpay_btcpay_storeid" value="{{ payment_btcpay_btcpay_storeid }}" placeholder="{{ entry_btcpay_btcpay_storeid }}" id="input-btcpay-storeid" class="form-control" />
            </div>
          </div>

          <div class="form-group">
            <div class="form-row">
              <label class="col-sm-2 control-label" for="input-webhook">{{ entry_webhook }}</label>
              <div class="col-sm-10">
                {% if payment_btcpay_webhook.id %}
                  {% set whData = 'ID: ' ~ payment_btcpay_webhook.id ~ ' | SECRET: ' ~ payment_btcpay_webhook.secret ~ ' | URL: ' ~ payment_btcpay_webhook.url %}
                {% else %}
                  {% set whData = '-- webhook not configured yet --' %}
                {% endif %}
                <input readonly="readonly" type="text" name="payment_btcpay_webhook" value="{{ whData }}" placeholder="{{ entry_webhook }}" id="input-webhook" class="form-control" />
                <div class="help-block">
                  {{ help_webhook }}
                </div>
              </div>
            </div>
            <div class="form-row">
              <label class="col-sm-2 control-label" for="input-webhook-delete">{{ entry_webhook_delete }}</label>
              <div class="col-sm-10">
                <input type="checkbox" name="payment_btcpay_webhook_delete" value="1" id="input-webhook-delete" class="form-control" {% if payment_btcpay_webhook_delete %} checked="checked" {% endif %} {% if not payment_btcpay_webhook.id %}disabled="disabled"{% endif %}/>
                <div class="help-block">
                  {{ help_webhook_delete }}
                </div>
              </div>
            </div>

          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-new-status">{{ entry_new_status }}</label>
            <div class="col-sm-10">
              <select name="payment_btcpay_new_status_id" id="input-new-status" class="form-control">
                {% for order_status in order_statuses %}
                {% if order_status.order_status_id == payment_btcpay_new_status_id %}
                <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                {% else %}
                <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-paid-status">{{ entry_paid_status }}</label>
            <div class="col-sm-10">
              <select name="payment_btcpay_paid_status_id" id="input-paid-status" class="form-control">
                {% for order_status in order_statuses %}
                {% if order_status.order_status_id == payment_btcpay_paid_status_id %}
                <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                {% else %}
                <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-settled-status">{{ entry_settled_status }}</label>
            <div class="col-sm-10">
              <select name="payment_btcpay_settled_status_id" id="input-settled-status" class="form-control">
                {% for order_status in order_statuses %}
                {% if order_status.order_status_id == payment_btcpay_settled_status_id %}
                <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                {% else %}
                <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-settled-paidover-status">{{ entry_settled_paidover_status }}</label>
            <div class="col-sm-10">
              <select name="payment_btcpay_settled_paidover_status_id" id="input-settled-paidover-status" class="form-control">
                {% for order_status in order_statuses %}
                {% if order_status.order_status_id == payment_btcpay_settled_paidover_status_id %}
                <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                {% else %}
                <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-invalid-status">{{ entry_invalid_status }}</label>
            <div class="col-sm-10">
              <select name="payment_btcpay_invalid_status_id" id="input-invalid-status" class="form-control">
                {% for order_status in order_statuses %}
                {% if order_status.order_status_id == payment_btcpay_invalid_status_id %}
                <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                {% else %}
                <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-expired-status">{{ entry_expired_status }}</label>
            <div class="col-sm-10">
              <select name="payment_btcpay_expired_status_id" id="input-expired-status" class="form-control">
                {% for order_status in order_statuses %}
                {% if order_status.order_status_id == payment_btcpay_expired_status_id %}
                <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                {% else %}
                <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-expired-partialpayment-status">{{ entry_expired_partialpayment_status }}</label>
            <div class="col-sm-10">
              <select name="payment_btcpay_expired_partialpayment_status_id" id="input-expired-partialpayment-status" class="form-control">
                {% for order_status in order_statuses %}
                {% if order_status.order_status_id == payment_btcpay_expired_partialpayment_status_id %}
                <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                {% else %}
                <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-expired-paidlate-status">{{ entry_expired_paidlate_status }}</label>
            <div class="col-sm-10">
              <select name="payment_btcpay_expired_paidlate_status_id" id="input-expired-paidlate-status" class="form-control">
                {% for order_status in order_statuses %}
                {% if order_status.order_status_id == payment_btcpay_expired_partialpayment_status_id %}
                <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                {% else %}
                <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-refunded-status">{{ entry_refunded_status }}</label>
            <div class="col-sm-10">
              <select name="payment_btcpay_refunded_status_id" id="input-refunded-status" class="form-control">
                {% for order_status in order_statuses %}
                {% if order_status.order_status_id == payment_btcpay_refunded_status_id %}
                <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                {% else %}
                <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-total"><span data-toggle="tooltip" title="{{ help_total }}">{{ entry_total }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="payment_btcpay_total" value="{{ payment_btcpay_total }}" placeholder="{{ entry_total }}" id="input-total" class="form-control" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-geo-zone">{{ entry_geo_zone }}</label>
            <div class="col-sm-10">
              <select name="payment_btcpay_geo_zone_id" id="input-geo-zone" class="form-control">
                <option value="0">{{ text_all_zones }}</option>
                {% for geo_zone in geo_zones %}
                {% if geo_zone.geo_zone_id == payment_btcpay_geo_zone_id %}
                <option value="{{ geo_zone.geo_zone_id }}" selected="selected">{{ geo_zone.name }}</option>
                {% else %}
                <option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>

	      <div class="form-group">
            <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_btcpay_sort_order" value="{{ payment_btcpay_sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-debug-mode">{{ entry_debug_mode }}</label>
            <div class="col-sm-10">
                <input type="checkbox" name="payment_btcpay_debug_mode" value="1" id="input-debug-mode" class="form-control" {% if payment_btcpay_debug_mode %} checked="checked" {% endif %} />
                <div class="help-block">
                  {{ help_debug_mode }}
                </div>
              </div>
          </div>


        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}
